/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: orange;
  font-family: 'Bangers', cursive;
}

h1 {
  font-style: italic;
  color:black;
}

.dogs{
  color: white;
}

